{% load static %}
<nav class="navbar navbar-expand-lg navbar-light p-4">
    <div class="container-fluid">

        <div class="text-center">
            <a href="https://www.facebook.com/carlosecelsoimoveisfanpage" target="_blank"
               style="margin:0 10px; color:#425df5; text-decoration:none; font-size:30px;">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://instagram.com/carlosecelsoimoveis?igsh=MThxZKp1ejN3bmMyNA==" target="_blank"
               style="margin:0 10px; color:#F2836B; text-decoration:none; font-size:30px;">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="text-center">
            <p style="font-size:14px; margin:0;">© 2025 David Nóbrega - Todos os direitos reservados</p>
        </div>
    </div>
</nav>